<h2>Контакты</h2>

<form action="/contacts" method="POST">
  <div class="form-group">
    <label for="userMaill">Ваш мейл</label>
    <input type="email" class="form-control" name="userMail" id="userMaill" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="userTextarea1">Введите текст</label>
    <textarea class="form-control" name="userText" id="userTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">отправить</button>
</form>