<h3>Add new post</h3>
<p>
<form action="/new" method="POST">
    <div  class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="content" placeholder="enter text here.."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</p>